<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Usuario</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<h1>Cadastro</h1>

<form th:action="@{/cadastrarUsuario}" method="post">
  <label for="nome">Nome:</label><br>
  <input type="text" name="nome" id="nome" required><br><br>

  <label for="email">Email:</label><br>
  <input type="email" name="email" id="email" required><br><br>

  <label for="senha">Senha:</label><br>
  <input type="password" name="senha" id="senha" required><br><br>

  <button type="submit">Cadastrar</button>
</form>

<form th:action="@{/login}" method="get">
  <button type="submit">Voltar</button>
</form>

<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Scripts -->
<script src="/js/header.js"></script>
<script src="/js/main.js"></script>

</body>

</html>